.*
*~
!.gitlab-ci.yml
!.gitignore
!.gitkeep
!.perltidyrc
*.crt
*.key
*.pid
blib
pm_to_blib
Makefile*
!Makefile.PL
MANIFEST*
!MANIFEST.SKIP
*META.*
!_meta.*
var/log/*
var/minion.db
etc/meritcommons.conf
etc/development.conf
log
!log/.gitkeep
src/node_modules
src/temp
src/.tmp
src/.sass-cache
src/app/components
src/vendor
etc/sphinx.conf
public/css/themes
public/font/font
public/img/img
themes/*
!themes/_bootstrap
themes/_bootstrap/_gh_pages
!themes/meritcommons
etc/keys
etc/plugin/*.conf
etc/*.conf
local/
