<!-- Invite Row -->

<tr user="{{invitee.unique_id}}">
    <td><a href="/u/{{invitee.unique_id}}">{{invitee.common_name}}</a></td>
    <td><a href="/u/{{inviter.unique_id}}">{{inviter.common_name}}</a></td>
</tr>