<!-- Moderatorship table -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Can manage moderators</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#mods}}
      {{>row}}
    {{/mods}}
  </tbody>
</table>
