<div class="pull-left">
  <img class="media-object img-rounded" src="{{{message.submitter_profile_thumb_url}}}"/>
</div>
<div class="media-body">
  <div class="media">
    {{{message.body}}}
    <p class="muted"><i class="{{message.notification_icon}}"></i> {{message.abbr_ago}}</p>
  </div>
</div>