<!-- Sponsored Message Example
================================= -->
<div class="feed feed-sponsor">
  <div class="feed-message">
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64">
      </a>
      <div class="media-body">
        <div class="feed-message-header clearfix">
          <div class="feed-time pull-right"><small><em>Sponsored Message</em></small> <i class="icon-time"></i> 20 min</div>
          <h4 class="media-heading">Office of the Registrar <small>@registrar</small></h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa...
          <a href="#" class="feed-message-more"> <em>Read More</em></a>
        </p>
        <div class="feed-message-footer">
          <div class="pull-right">
            <a href="#" class="btn btn-mini btn-link">
              <i class="icon-asterisk"></i>
            </a>
            <a href="#" class="btn btn-mini btn-link">
              <i class="icon-asterisk"></i>
            </a>
            <a href="#" class="btn btn-mini btn-link">
              <i class="icon-asterisk"></i>
            </a>
          </div>
        </div>

      </div> <!-- /.media-body -->
    </div> <!-- /.media -->
  </div> <!-- /.feed-message -->
</div> <!-- /.feed (Sponsored Message) -->